* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  transition: margin-top .15s ease-out;
  display: block;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100%;
  margin: auto;
  font-family: sans-serif,Roboto,Helvetica Neue,Helvetica,Arial;
  font-size: 16px;
  line-height: 1.44;
  color: #191919;
  background-color: #fff;
  display: block;
}

.flex-center {
  display: flex;
  align-items: center;
}

.mr-10 {
  margin-right: 10px;
}

header {
  border-bottom: solid #E1E1E1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  border-color: hsla(0,0%,85%,.5);
  font-family: sans-serif;
}

.header-left {
  margin-right: auto;
}

.icon-svg {
  height: 20px;
}

.btn-section {
  margin-right: 20px;
  border: 1px solid #e2e2e2;
}

.btn-search {
 height: 40px;
 border: 1px solid #e2e2e2;
}

.header-right {
  margin-left: auto;
}


.nav-header {
  display: flex;
  justify-content: space-between
}

button {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: unset;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  overflow: visible;
  outline: none;
  background-color: #f1efef;
}

.title-em {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chosen-section {
  height: 31;
  font-weight: 87; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333333;
}

.btn-zap {
  padding: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  border: 1px solid #e2e2e2;
}

.btn-div-zap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-sign {
  width: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 12px;
  font-size: .875rem;
  height: 38px;
  color: #fff;
  background-color: #d97a08;
  font-family: sans-serif;
}

.profile-logo {
  padding: unset;
  background-color: unset;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  margin-left: 12px;
}

.profile-logo img {
  height: 100%;
}

.vl {
  height: 38px;
  border-left: 2px solid #E2E2E2;
  margin-left: 12px;
}

main {
  margin-left: 0;
  padding-top: 0;
  width: 100%;
}

.navigation-menu {
  color: #337ab7;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 120px;
  margin-left: 1.17%;
  margin-top: .6rem;
}

.navigation-menu a {
  color: #337ab7;
  margin: 12px;
  text-decoration: none;
}

.section-news {
  display: flex;
  flex-direction: column; 
  margin-left: 7.6%;
  margin-right: 7.6%;
  margin-top: 1.18%;
}

.pr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oscar-link {
  align-self: self-start;
  font-size: small;
  color: #337ab7;;
}

.oscar-link a {
  margin-top: 2%;
  font-size: small;
  color: #337ab7;
  text-decoration: none;
}

.pr-container h1 {
 align-self: self-start;
 font-family: 'Roboto';
 font-size: 39px;
 margin-top: .6rem;
 font-weight: bold;
}

.pr-container h4 {
  align-self: self-start;
  font-family:Roboto;
  font-weight: 15;
  color: rgb(115, 111, 111);
}

.pr-publicity {
  margin-top: 2%;
  width: 80%;
}

.pr-publicity img {
  width: 100%;
}

.news-row {
  display: flex;
}

.pr-column {
  width: 100%;
}

.pr-news-header {
  display: flex;
  height: 10%;
  align-items: center;
  width: 91.3%;
}

.author {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.author img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

.marg-top-3 {
  margin-top: 3px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.btn-facebook {
  width: "25px";
  height: "25px";
  background-color: transparent;
  padding: 0.3%;
}
.btn-twitter {
  width: "25px";
  height: "25px";
  background-color: transparent;
  padding: 0.3%;
}
.btn-whatsapp {
  width: "25px";
  height: "25px";
  background-color: transparent;
  padding: 0.3%;
}

.btn-google {
  display: flex;
  align-items: center;
  font-size: small;
  height: 2rem;
  font-size: 14px;
  font-weight: 600;
  background-color: #EAEAEA;
  padding: 0.3%;
  margin-left: .6rem;
}

.article-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 91.3%;
  align-items: stretch;
}

.article-body img{
  width: 100%;
}

.photo-description {
  margin-left: 1%;
}

.photo-description small{
  font-size: 14px;
  font-family: sans-serif,Roboto,Helvetica Neue,Helvetica,Arial;
  margin-left: 1%;
}

.audio-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-top: 3%;
  padding: 6px 12px;
  font-size: 16px;
  background-color: #FFFFFF;
  border-color: #e3e2e2;
  border-style: outset;
}

.audio-label button {
  border: unset;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #FFFFFF;
}

.audio-label button img{
  height: 28px;
  width: 28px;
}

.audio-label small {
  margin-left: 2%;
  font-size: 18px;
}

.small-minutes {
  font-size: 12px;
  color: #9B9B9B;

}

/* 
.small-hear {
  margin-left: 2%;
}

.small-minutes {
  margin-left: 2%; 
}
*/



.sound-wave-logo {
  margin-left: 60%;
}

.font-size-16 {
  font-size: 16px;
}

.btn-article-audio {
  border: solid hsl(0, 33%, 97%);
  overflow: hidden;
  padding-bottom: 8px;
  border-color: hsla(0,0%,85%,.5);
}

.sound-wave-logo img{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 16px;
}

.article-part1 {
  margin-top: 4%;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
}

.article-part2 {
  margin-top: 4%;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
}

.sujestion-label {
  margin-top: 4%;
}
.sujestion-label h4 {
  font-style: normal;
  font-family: 'Merriweather', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.sujestion-label img{
  margin-top: 3px;
  width: 235px;
  height: 132px;
}
/* border-top: 5px solid #191919; */

/* padding-bottom: 15px; */

/* border-top: 1px solid #d8d8d8; */


.space-article {
  margin-top: 0.4rem;
}

.most-read {
  font-family: 'Merriweather', sans-serif;
  font-size: 0.875rem;
  color: #004071;
  margin-top: 2rem;
}

.most-read h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 26px;
  color: #191919;
  border-top: 5px solid #D1D1D1;
  margin-top: 1rem;
  padding-top: 15px;
}

.most-read span {
  color: #004071;
  text-decoration: underline;
}

.most-read h6 {
  font-size: small;
  font-weight: 500;
}
.most-read h3 {
  font-size: medium;
  font-weight: 100;
  color: #337ab7;
}

.th-publicity {
  margin-top: 2%;
}

.th-publicity img{
  width: 300px;
  height: 600px;
}

.sc-publicity {
  margin-top: 2%;
}

.sc-publicity img{
  width: 300px;
  height: 250px;
}

.sc-column {
  width: 32%;
}

.publicity-image {
  width: 75px;
  height: 43px;
}

@media (min-width: 0px) and (max-width: 576px) {
  header {
    padding: 8px 10px;
  }
  .header-left {
    width: 100%;
  }
  .btn-section {
    margin-right: unset;
  }
  .title-em {
    margin: 0 auto;
  }
  .header-right {
    display: none;
  }
  .section-title {
    display: none;
  }
  .btn-search {
    display: none;
  }
  .chosen-section {
    display: none;
  }
  .btn-section {
    padding: 6px 6px;
  }
  .icon-svg {
    margin-right: unset;
  }
  .navigation-menu {
    display: none;
  }
  .pr-publicity {
    display: none;
  }
  .pr-news-header {
    width: 100%;
  }
  .article-body {
    width: 100%;
  }
  .sc-column {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  header {
    padding: 8px 10px;
  }
  .section-title {
    display: none;
  }
  .btn-zap {
    display: none;
  }
  .vl {
    display: none;
  }
  .profile-logo {
    display: none;
  }
  .btn-search {
    display: none;
  }
  .chosen-section {
    display: none;
  }
  .btn-section {
    padding: 6px 6px;
  }
  .icon-svg {
    margin-right: unset;
  }
  .header-right {
    margin-left: unset;
  }
  .header-left {
    margin-right: auto;
  }
  .navigation-menu {
    display: none;
  }
  .oscar-link {
    order: 1;
  }
  .pr-container h1 {
    order: 2;
  }
  .pr-container h4 {
    order: 3;
  }
  .pr-publicity {
    width: 100%;
  }
  .pr-news-header {
    width: 100%;
  }
  .article-body {
    width: 100%;
  }
  .sc-column {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 8px 10px;
  }
  .section-title {
    display: none;
  }
  .btn-zap {
    display: none;
  }
  .vl {
    display: none;
  }
  .profile-logo {
    display: none;
  }
  .btn-search {
    display: none;
  }
  .chosen-section {
    display: none;
  }
  .btn-section {
    padding: 6px 6px;
  }
  .icon-svg {
    margin-right: unset;
  }
  .header-right {
    margin-left: unset;
  }
  .header-left {
    margin-right: auto;
  }
  .navigation-menu {
    display: none;
  }
  .oscar-link {
    order: 1;
  }
  .pr-container h1 {
    order: 2;
  }
  .pr-container h4 {
    order: 3;
  }
  .pr-publicity {
    width: 100%;
  }
  .pr-column {
    width: 100%;
  }
  .pr-news-header {
    width: 100%;
  }
  .article-body {
    width: 100%;
  }
  .sc-column {
    display: none;
  }
}
